<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css">
		<body>
			<h1>404,- Opps!!!</h1>
			<p>You made something wrong !!!</p>
		</body>
	</head>
</html>
