<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css">
		<body>
			<% include partial/nav.ejs %>
			<h1>Contact US</h1>
            <p>Thanks for contacting <%= data.who %> in <%=  data.department %> department. </p>
            <p>We will contact you at <%= data.email %> </p>
		</body>
	</head>
</html>
