<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css">
		<body>
			<% include partial/nav.ejs %>
			<h1>Welcome to the most awesome website on the net</h1>
			<p>You won't find the website better anywhere else!</p>
		</body>
	</head>
</html>
